body, html
{
	background: #292623;
	color: #EC673A;
	font-size: 32px;
	text-align: center;
}

.padre
{
	background: yellow;
    display: flex;
    flex-flow: row nowrap;
	margin: .5rem auto;
    justify-content: center;
	width: 90%;
}

.hijo
{
	background: #1C5F81;
    flex: 0 0 30%;
    margin: 0 .5rem;
	min-height: 200px;
}


