body, html
{
	background: #292623;
	color: #EC673A;
	font-size: 48px;
	text-align: center;
}

.contenedor
{
	/* background: yellow; */
	font-size: 0;
	margin: .5rem auto;
	width: 90%;
}

.uno, .dos, .tres
{
	background: #1C5F81;
	border: thin solid #EC673A;
	font-size: 1rem;
	margin: auto;
	min-height:  180px;
	width: 90%
}

.dos, .tres
{
	display: inline-block;
	vertical-align: top;
	width: 45%;
}

.tres { width: 30%; }
