body, html
{
	background: #1C5F81;
	color: #EC673A;
	font-size: 48px;
	text-align: center;
}

.padre
{
	/* background: yellow; */
	font-size: 0;
	margin: auto;
	width: 90%;
}

.hijos
{
	background: #292623;
	border: thin solid white;
	display: inline-block;
	font-size: 1rem;
	min-height: 180px;
	vertical-align: top;
	width: 30%;
}